{% extends 'base.html.twig' %}

{% block title %}New Furniture{% endblock %}

{% block body %}
    <h1>Create new Furniture</h1>
    <p>Be van jelentkezve! <a href= {{ url('app_logout') }}>Kilépés ITT!!!</a></p>
    <p><a href={{ url('users') }}>Userek kezelése</a></p>
    {{ include('furniture/_form.html.twig') }}

    <a href="{{ path('furniture_index') }}">back to list</a>
{% endblock %}
