{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create new User</h1>
    <p>Be van jelentkezve! <a href= {{ url('app_logout') }}>Kilépés ITT!!!</a></p>
    <p><a href={{ url('furnitures') }}>Bútorok adatbázis kezelése</a></p>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
